@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
    --main-background: #e0def4;
    --secondary-background: #ebbcba;
    --main-text: #26233a;
    --secondary-text: #555169;
    --textarea-background: #f2e9de;
    --delete-button: #eb6f92;
}

:root {
    --main-background-dark: #26233a;
    --secondary-background-dark: #6e6a86;
    --main-text-dark: #e0def4;
    --secondary-text-dark: #f2e9de;
    --textarea-background-dark: #9893a5;
}

/* Zeroing */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background);
}

/* General text rules */

p, a, li, button {
    color: var(--main-text);
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-text);
    text-decoration: underline;
}

nav {
    background-color: var(--secondary-background);
    text-align: right;
    padding: 15px;
}

nav>ul {
    list-style: none;
}

.nav>li {
    display: inline;
    margin: 0 10px;
}

/* Create 3 columns for our main section */

.wrapper {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-areas: "b a a ." "b a a .";
}

/* Make the "+ create new note" button reside in the center of the main section */

.note-area {
    grid-area: a;
    align-self: center;
    justify-self: center;
    margin-left: -45px;
    /* Janky, undo padding which the burger menu gave */
}

.note-area>button {
    padding-top: 8px;
    display: inline-block;
    border: none;
    background: none;
    font-size: large;
}

.note-area>button:hover {
    text-decoration: underline;
}

.note-area>input {
    width: 480px;
    position: fixed;
    margin-top: 260px;
    padding-bottom: 5px;
}

.note-area>input::placeholder {
    font-size: small;
}

.note-area>textarea {
    margin-top: 300px;
}

.note-area>textarea, .note-area>input {
    padding-top: 5px;
    padding-left: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--textarea-background);
    color: var(--secondary-text);
    border: none;
}

.note-area>textarea:focus, .note-area>input:focus {
    outline: 3px solid var(--secondary-background);
}

/* pre tag styling from https://www.longren.io/wrapping-text-inside-pre-tags/ */

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.note-view {
    max-width: 25%;
}

.note-buttons {
    margin-top: 5px;
    text-align: right;
}

.note-buttons>button {
    padding: 5px 10px;
    border: none;
    background: none;
    font-size: large;
}

.note-buttons>button:hover {
    text-decoration: underline;
}

.note-buttons>.delete {
    color: var(--delete-button);
}

/* plus sign class based off of: https://stackoverflow.com/a/55281827/4379311 */

.plus {
    width: 40px;
    height: 40px;
    background: linear-gradient(var(--main-text), var(--main-text)), linear-gradient(var(--main-text), var(--main-text)), var(--main-background);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
    float: left;
}

.hamburger-button {
    grid-area: b;
    padding-left: 10px;
}

.hamburger-menu {
    grid-area: b;
    text-align: center;
    background-color: var(--textarea-background);
    min-height: 90vh;
}

.hamburger-menu>p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.note-list {
    list-style-type: circle;
}

.note-list-item:hover {
    text-decoration: underline;
}

/* Three lines stacked will create hamburger icon */

.line {
    width: 30px;
    height: 4px;
    background-color: var(--secondary-text);
    margin: 6px 0;
}

footer {
    background-color: var(--secondary-background);
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 15px;
}

/* Dark mode impl */

body.dark-theme {
    background-color: var(--main-background-dark);
}

body.dark-theme p, body.dark-theme a, body.dark-theme li, body.dark-theme button {
    color: var(--main-text-dark);
}

body.dark-theme a:hover {
    color: var(--secondary-text-dark);
}

body.dark-theme>nav {
    background-color: var(--secondary-background-dark);
}

body.dark-theme .note-area>textarea:focus, body.dark-theme .note-area>input:focus {
    outline: 3px solid var(--secondary-background-dark);
}

body.dark-theme pre {
    color: var(--main-text-dark);
}

body.dark-theme .note-area>textarea, body.dark-theme .note-area>input {
    background-color: var(--textarea-background-dark);
    color: var(--secondary-text-dark);
}

/* For some reason we need all the styles copied here to make it display properly while on dark mode */
body.dark-theme .plus {
    width: 40px;
    height: 40px;
    background: linear-gradient(var(--main-text-dark), var(--main-text-dark)), linear-gradient(var(--main-text-dark), var(--main-text-dark)), var(--main-background-dark);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
    float: left;
}

body.dark-theme .hamburger-menu {
    background-color: var(--textarea-background-dark);
}

body.dark-theme .line {
    background-color: var(--secondary-text-dark);
}

body.dark-theme>footer {
    background-color: var(--secondary-background-dark);
}

/* Util functions for hiding + showing elements. no-fade classes used for initial page load */

.hidden-no-fade {
    visibility: hidden;
    opacity: 0;
}

.show-no-fade {
    visibility: visible;
    opacity: 1;
}

.hidden {
    transition: visibility 300ms, opacity 300ms;
    visibility: hidden;
    opacity: 0
}

.show {
    transition: visibility 300ms, opacity 300ms;
    visibility: visible;
    opacity: 1
}

@media (max-width: 600px) {
    .wrapper {
        grid-template-areas: "b ." "a .";
    }
    .hamburger-menu {
        min-height: 20vh;
        max-height: 10vh;
        width: 100%;
        position: fixed;
    }
    .note-area {
        margin-left: 0px;
    }
    .note-area>textarea {
        padding-top: 50px;
    }
}